@using MvcPL.Areas.Admin.Models
@model IEnumerable<MvcPL.Areas.Admin.Models.UserModel>

@{
    ViewBag.Title = "Users";
}
<div id="loading" class="load" style="display: none">
    <p>Loading...</p>
</div>
<div id="blogs">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
            <div class="pull-right">
                @Html.ActionLink("Create user", "CreateUser", "Admin", null,
                    new {@class = "btn btn-xs btn-success"})
            </div>
        </div>

        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th style="text-align: center">@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>
                    <th>@Html.DisplayNameFor(model => model.Role)</th>
                    <th></th>
                </tr>
                @foreach (var user in Model)
                {
                    <tr>
                        <td style="text-align: center">@user.Id</td>
                        <td>@Html.ActionLink(user.Email, "IndexUserBlogs", new {area="", controller="Home", userId = user.Id, pageNumber = 1},null)</td>
                        <td>@user.Role</td>
                        <td>
                            @using (Html.BeginForm("DeleteUser", "Admin", new {id = user.Id}))
                            {
                                @Html.ActionLink("Edit", "EditUser", "Admin", new {json = Json.Encode(user)},
                                    new {@class = "btn btn-xs btn-warning"})
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <nav>
        <ul class="pager">
            <li>
                @if (ViewBag.HasPrevius)
            {
                    @Ajax.ActionLink("Previus", "Index", new { pageNumber = ViewBag.PageNumber - 1 }, new AjaxOptions
           {
               UpdateTargetId = "blogs",
               LoadingElementId = "loading",
               LoadingElementDuration = 1000,
               InsertionMode = InsertionMode.Replace,
               Url = Url.Action("Index", new { pageNumber = ViewBag.PageNumber - 1 })
           })
                }
                else
                {
                    <a>Previus</a>
                }
            </li>

            <li>
                @if (ViewBag.IsElements)
            {
                    @Ajax.ActionLink("Next", "Index", new { pageNumber = ViewBag.PageNumber + 1 }, new AjaxOptions
           {
               UpdateTargetId = "blogs",
               LoadingElementId = "loading",
               LoadingElementDuration = 1000,
               InsertionMode = InsertionMode.Replace,
               Url = Url.Action("Index", new { pageNumber = ViewBag.PageNumber + 1 })
           })
                }
                else
                {
                    <a>Next</a>
                }
            </li>
        </ul>
    </nav>
</div>

