@using MvcPL.Infrastructure.Helpers
@model System.Collections.Generic.IEnumerable<BLL.Entities.BllRole>

@{
    ViewBag.Title = "Roles";
}

@Html.LoadingElement("loading", "Loading...", "load")
<div id="blogs">
    <div class="panel panel-primary">
        <div class="panel-heading">
            @ViewBag.Title
            <div class="pull-right">
                @Html.ActionLink("Create role", "CreateRole", "Admin", null,
                new { @class = "btn btn-xs btn-success" })
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr>
                    <th style="text-align: center">@Html.DisplayNameFor(model => model.Id)</th>
                    <th>@Html.DisplayNameFor(model => model.Name)</th>
                    <th></th>
                </tr>
                @foreach (var role in Model)
            {
                    <tr>
                        <td style="text-align: center">@role.Id</td>
                        <td>@role.Name</td>
                        <td>
                            @using (Html.BeginForm("DeleteRole", "Admin", new { id = role.Id }))
                            {
                                @Html.ActionLink("Edit", "EditRole", "Admin", new { json = Json.Encode(role) },
                                new { @class = "btn btn-xs btn-warning" })
                                <button type="submit" class="btn btn-xs btn-danger">Delete</button>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <nav>
        <ul class="pager">
            <li>
                @if (ViewBag.HasPrevius)
            {
                    @Ajax.ActionLink("Previus", "RoleIndex", new { pageNumber = ViewBag.PageNumber - 1 }, new AjaxOptions
               {
                   UpdateTargetId = "blogs",
                   LoadingElementId = "loading",
                   LoadingElementDuration = 1000,
                   InsertionMode = InsertionMode.Replace,
                   Url = Url.Action("RoleIndex", new { pageNumber = ViewBag.PageNumber - 1 })
               })
                }
                else
                {
                    <a>Previus</a>
                }
            </li>

            <li>
                @if (ViewBag.IsElements)
            {
                    @Ajax.ActionLink("Next", "RoleIndex", new { pageNumber = ViewBag.PageNumber + 1 }, new AjaxOptions
               {
                   UpdateTargetId = "blogs",
                   LoadingElementId = "loading",
                   LoadingElementDuration = 1000,
                   InsertionMode = InsertionMode.Replace,
                   Url = Url.Action("RoleIndex", new { pageNumber = ViewBag.PageNumber + 1 })
               })
                }
                else
                {
                    <a>Next</a>
                }
            </li>
        </ul>
    </nav>
</div>