@model IEnumerable<MvcPL.Models.PostViewModel>

@foreach (var post in Model)
{
    <div class="blog-post">
        <h2 class="blog-post-title">
            @Html.ActionLink(post.Title, "GetPost", "Home", new { postId = post.PostId }, null)
        </h2>
        <p class="blog-post-meta">
            by @Html.ActionLink(post.FirstName + " " + post.LastName, "IndexUserBlogs", "Home",
              new { userId = post.UserId }, null)
        </p>
        <p>@post.Content</p>
        @if (post.Tags.Count() != 0)
        {
            <p>
                @foreach (var tag in post.Tags)
                {
                    @Html.ActionLink(tag.Name, "Search", "Search", new { query = tag.Name }, null)
                }
            </p>
        }

        @Html.ActionLink("Read more", "GetPost", "Home", new { postId = post.PostId }, null)
    </div>
}