@model MvcPL.Models.PostViewModel

@{
    ViewBag.Title = Model.Title;
}

<h1 class="blog-title">@Model.Title</h1>
<p class="lead blog-description">by @Html.ActionLink(Model.FirstName + " " + Model.LastName, "IndexUserBlogs", "Home",
       new { userId = Model.UserId, pageNumber = 1 }, null)</p>

@if (User.Identity.IsAuthenticated && ViewBag.IsMyPost)
{
    using (Html.BeginForm("DeletePost", "Blog", new { id = Model.PostId }))
    {
        @Html.AntiForgeryToken()
        @Html.ActionLink("Edit", "EditPost", "Blog", new { id = Model.PostId },
                                    new { @class = "btn btn-xs btn-warning" })
        <button type="submit" class="btn btn-xs btn-danger">Delete</button>
    }
}

<div class="blog-post">
    <p>@Model.Content</p>
    @if (Model.Tags.Count() != 0)
    {
        <p>
            Tags: @foreach (var tag in Model.Tags)
            {
                @Html.ActionLink(tag.Name, "Search", "Search", new { query = tag.Name }, null)
            }
        </p>
    }
</div>

<div class="blog-post">
    <div class="blog"></div>
    <p>Comments</p>
    @if (User.Identity.IsAuthenticated)
    {
        <div id="addComments">
            @Html.Action("AddComment", "Blog", new { postId = Model.PostId })
        </div>
    }
    <div id="comments">
        @Html.Action("GetCommentsByPost", new { postId = Model.PostId })
    </div>
</div>



